<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Hoot Hotline</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115029309-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115029309-1');
    </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body style="background-color:#BEB1E2"> 
    <div class="pageheader" style="background-color:#341f70; padding:20px; color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <a href="http://www.thehootrice.com"><img src="http://static1.squarespace.com/static/52e693e1e4b04ab8b0fe14d4/t/568ba9eda2bab8d57519a720/1519515598720/?format=1500w" width="100%"></a>
                </div>
                <div class="col-lg-9">
                    <h1 class='display-1'><b>Hoot Hotline</b></h1>
                    <br>
                    <h2>Last Updated {{ lastUpdate }}</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br>
        <br>
        {% if specialsMessage != "none" -%}
        <div class="row">
            <div class="col">
                <h3>Specials: {{ specialsMessage }}</h3>
            </div>
        </div>
    {%- endif %}
        <div class="row" style="font-size:28px">
            <div class="col-lg-6">
                <h1 style="color:green">In Stock</h1>
                <ul class="list-group">
                    {% for food in inStock %}
                        <li class="list-group-item" style="background-color:#dbd2f4">{{ food }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-6">
                <h1 style="color:red">Ran out</h1>
                <ul class="list-group">
                    {% for food in outOfStock %}
                        <li class="list-group-item" style="background-color:#dbd2f4">{{ food }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="footer">
            <p><a href="http://www.davidcai.me">David Cai</a> and <a href="http://www.thehootrice.com">Rice Hoot</a></p>
        </footer>
 
    </div>
</body>
 
</html>