<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Hoot Hotline Update Form</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <style>
        @media (min-device-width: 375px) and (max-device-width: 736px) {
            label {
                font-size: 28px;
                margin-left: 10px;
            }

            input[type=checkbox] {
                transform: scale(2.33);
            }
        }
    </style>
</head>

 
<body> 
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <h1>Hoot Update Form</h1>
            </div>
        </div>
 
        <div class="row">
            <div class="col-lg-12">
                <h2> Select the foods that are OUT of stock</h2>
                <br>
                <hr>
                <br>
                <form action="/receiveUpdate" method="post">
                    {% for food, inStock in foods.items() %}
                        <div class="form-check">
                            {% if inStock %}
                            <input class="form-check-input" type="checkbox" value="{{ food }}" id="{{ food }}" name="foodItem">
                            {% else %}
                            <input class="form-check-input" type="checkbox" value="{{ food }}" id="{{ food }}" name="foodItem" checked="checked">
                            {% endif %}
                            <label class="form-check-label" for="{{ food }}">{{ food }}</label>
                        </div>
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
                </form>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <footer class="footer">
            <p>David Cai and Rice Hoot</p>
        </footer>
 
    </div>
</body>
 
</html>